body{
    background-color:lightgrey;
  }
  #title{
    font-family:Ariel,helvetica;
    font-size:40px;
     text-align:center; 
  }
  #description{
    font-size:20px;
    text-align:center; 
  }
  
  #survey-form{
    width:100%;
    padding:10px 10px;
    background-color: lightblue;
  }

input{
  margin-bottom:10px;
}
  #name {
    padding:5px;
    width:80%;
  }
  #email {
    padding:5px;
    width:80%;
  }
  
  #number{
    padding:5px
    width:100px;
  }
  
  #dropdown , radio{
    display:block
  }
#textarea{
  width:50%;
  height:100px; 
}